<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="resource-info">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag @employeer.profile_pic_url, class: "img-fluid" %>
      </div>
      <div class="col-sm-8">
        <h5><strong>Name:</strong> <%= @employeer.full_name %></h5>
        <h5><strong>Username: </strong><%= @employeer.username %></h5>
        <h5><strong>Email: </strong><%= @employeer.email %></h5>
        <h5><strong>Contact: </strong><%= @employeer.contact %></h5>
        <h5><strong>Address: </strong><%= @employeer.full_address %></h5>
        <h5><strong>About: </strong><%= @employeer.about %></h5>
      </div>
    </div>
    <%= link_to 'Edit', edit_admin_employeer_path(@employeer), class: "btn btn-primary" %> 
    <%= link_to 'Back', admin_employeers_path, class: "btn btn-primary" %>
  </div>
</div>

