<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tagline</th>
      <th>Description</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Website</th>
      <th>Established on</th>
      <th>Staff size</th>
      <th>Address</th>
      <th>Facebook url</th>
      <th>Twitter url</th>
      <th>Linkedin url</th>
      <th>Google plus url</th>
      <th>Employeer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.tagline %></td>
        <td><%= company.description %></td>
        <td><%= company.email %></td>
        <td><%= company.contact %></td>
        <td><%= company.website %></td>
        <td><%= company.established_on %></td>
        <td><%= company.staff_size %></td>
        <td><%= company.address %></td>
        <td><%= company.facebook_url %></td>
        <td><%= company.twitter_url %></td>
        <td><%= company.linkedin_url %></td>
        <td><%= company.google_plus_url %></td>
        <td><%= company.employeer_id %></td>
        <td><%= link_to 'Show', admin_company_path %></td>
        <td><%= link_to 'Edit', edit_admin_company_path(company) %></td>
        <td><%= link_to 'Destroy', admin_company_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
