<div class="inner-heading">
	<div class="container">
		<h2 class="text-center card-title" style="color: white">ABOUT US</h2>
	</div>
</div>
<div class="container" >	
	<div class="row">
		<div class="col-sm-4 ">
			<%=image_tag"about2.jpg", class: 'img-fluid'  %>
		</div>
		<div class="col-sm-8 ">
			<h1>Sed facilisis erat quam</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum vestibulum leo vel tempus. Vivamus sit amet felis ac est pharetra dapibus ut ac turpis. Vivamus quis rhoncus nisi. In elit dolor, semper vel dapibus ut, consectetur non massa. Phasellus ut sem ligula.</p>
			<ul class="servicelinks">
				<li>Nam convallis molestie mattis</li>
				<li>Aenean ultrices consectetur facilisis</li>
				<li>HIPAA compliant backup and disaster recovery</li>
				<li>Phasellus efficitur gravida tellus id rutrum</li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-8"> 
			<h1>Nulla dignissim gravida</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultricies dictum ex, nec ullamcorper orci luctus eget. Integer mauris arcu, pretium eget elit vel, posuere consectetur massa. Etiam non fermentum augue, vel posuere sapien. 

			Vivamus aliquet eros bibendum ipsum euismod, non interdum dui elementum. Morbi facilisis hendrerit nisi, a volutpat velit. Donec sed malesuada felis. Nulla facilisi. Vivamus a velit vel orci euismod maximus. Praesent ut blandit orci, eget suscipit lorem. Aenean dignissim, augue at porta suscipit, est enim euismod mi, a rhoncus mi lacus ac nibh. Ut pharetra ligula sed tortor congue, pellentesque ultricies augue tincidunt.</p>			
		</div>
		<div class="col-sm-4">
			<%=image_tag"about.jpg" , class: 'img-fluid' %>			
		</div>
	</div>
</div>
<div class="container" >	
	<div class="row">
		<div class="col-sm-4 ">
			<%=image_tag"about3.jpg", class: 'img-fluid'  %>
		</div>
		<div class="col-sm-8 ">
			<h1>Donec suscipit vestibulum</h1>
			<p>Nullam nec lectus interdum ipsum imperdiet mattis nec a urna. Fusce tristique risus et felis vestibulum porta. In at mollis eros. Aliquam sit amet venenatis sapien. Aenean fringilla blandit tincidunt. Vestibulum ultricies leo faucibus dolor pellentesque, id rutrum turpis iaculis. Praesent vitae orci quis purus lacinia gravida. Proin placerat felis at sem bibendum auctor. Aliquam quam orci, auctor ut vestibulum a, accumsan vitae nisl.</p> 

			<p>Vivamus quis varius est. Mauris eget dui molestie, mollis purus et, aliquet nisi. Proin faucibus eros sed lacus semper, non dapibus diam lobortis. Vivamus pellentesque quam mi.  </p>			
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
				
				<%=image_tag"1 (1).jpg", class:"card-img-top"%>
				<div class="card-body">
					<h5 class="card-title">Duis ultricies aliquet mauris</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="btn btn-primary">READ</a>
				</div>
			</div>
			
		</div>

		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
				
				<%=image_tag"2 (1).jpg", class:"card-img-top"%>
				<div class="card-body">
					<h5 class="card-title">Duis ultricies aliquet mauris</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="btn btn-primary">READ</a>
				</div>
			</div>
			
		</div>

		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
				
				<%=image_tag"4.jpg", class:"card-img-top"%>
				<div class="card-body">
					<h5 class="card-title">Duis ultricies aliquet mauris</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="btn btn-primary">READ</a>
				</div>
			</div>
			
		</div>
		
	</div>
</div>
<hr>


