<div class="container">
  <p id="notice"><%= notice %></p>
<div class="text-center">
  <h1>Jobs</h1>
</div>

  <table class="table table-bordered" id="jobs">
    <thead>
      <tr>
        <th>Job title</th>
        <th>Email</th>
        <th>Job type</th>
        <th>Salary range</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @jobs.each do |job| %>
      <tr>
        <td><%= job.job_title %></td>
        <td><%= job.email %></td>
        <td><%= job.job_type %></td>
        <td><%= job.salary_range %></td>
        <td>  
          <%= link_to job, class: "btn btn-primary" do %>
            <i class="fa fa-eye"></i>View
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Job', new_job_path %>
</div>

<br>

<script type="text/javascript">
  $(document).ready(function() {
    $('#jobs').DataTable();
  })
</script>