<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @company.tagline %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @company.contact %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<p>
  <strong>Established on:</strong>
  <%= @company.established_on %>
</p>

<p>
  <strong>Staff size:</strong>
  <%= @company.staff_size %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Facebook url:</strong>
  <%= @company.facebook_url %>
</p>

<p>
  <strong>Twitter url:</strong>
  <%= @company.twitter_url %>
</p>

<p>
  <strong>Linkedin url:</strong>
  <%= @company.linkedin_url %>
</p>

<p>
  <strong>Google plus url:</strong>
  <%= @company.google_plus_url %>
</p>

<p>
  <strong>Employeer:</strong>
  <%= @company.employeer_id %>
</p>

<%= link_to 'Edit', edit_employeer_company_path(@company) %> |
<%= link_to 'Back', employeer_companies_path %>
