<div class="inner-heading">
  <div class="container">
    <h2 class="text-center card-title" style="color: white">Forgot your password</h2>
  </div>
</div>
<div style="margin-top: 50px;"></div>
<div class="container">
  <div class="row">  
    <div class="col-md-4"></div>
    <div class="col-md-5">
      <div class="card">
        <div class="container">
          <h2 class="card-title">Forgot password</h2>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control"%>
          </div>
          <div class="form-text text-muted">
            By clicking "Reset Password" we will send a password reset link
          </div>
          <div class="actions" style="margin-bottom: 30px">
            <%= f.submit "reset password " ,class:"btn btn-primary btn-block" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


